<ion-header>
  <custom-logged-header [title]="'User Profile'"></custom-logged-header>
</ion-header>

<ion-content padding>

  <user-info [user-info]="currentUser"></user-info>

  <button ion-button block (click)="canEdit= !canEdit">Editar</button>

  <form (submit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="currentUser.nome" required minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="currentUser.username" required
        minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="image" end></ion-icon>
      <input type="file" (change)="onPhoto($event)">
    </ion-item>
    <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
    <br>
    <button ion-button block type="submit" [disabled]="profileForm.form.invalid">Salvar</button>
  </form>
</ion-content>